.actions-bar {
    display: flex;
    width: 50px;
    height: 50px;
    margin: 22px;
    border-radius: 8px;
    transition: height .25s ease-out;
}

.actions-bar>i,
.actions-bar>div>i,
.actions-bar>div>div>i {
    font-size: 28px;
    padding: 12px;
}

.actions-bar>div>i,
.icon-holder>i {
    animation: fadeIn 0.8s ease-in;
}

@keyframes fadeIn {
    0% {
        opacity: 0
    }

    100% {
        opacity: 1
    }
}

.fadeIn {
    animation: fadeIn 0.25s ease-out;
}

.actions-bar>div {
    flex-direction: column;
    gap: 12px;
}

.actions-bar>div>i:hover,
.actions-bar>div>div>i:hover,
.selected {
    box-shadow: 0 0 5px 1px rgba(1, 1, 1, 0.2);
    border-radius: 8px;
}

.open {
    height: 615px;
}

.dark-mode:hover {
    color: var(--gold);
}

.light-mode:hover {
    color: #4b6584;
}

.icons-column {
    display: flex;
    align-self: flex-start;
    align-items: flex-start;
}

@media only screen and (max-height: 600px),
(max-width: 500px) {
    .actions-bar {
        width: 150px;
    }

    .open {
        width: 150px;
        height: 50vh
    }

    .actions-bar>div {
        gap: 12px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .tooltip {
        margin-left: 112px;
    }
}

.actions-holder {
    display: flex
}

.scenes-container {
    animation: fadeIn 0.15s ease-in;
    width: 225px;
    height: 400px;
    border-radius: 12px;
    margin-top: 140px;
    overflow-y: auto;
    overflow-x: hidden;
    justify-content: flex-start;
    padding: 12px;
    gap: 12px;
    scrollbar-color: var(--accent) transparent;
    scrollbar-width: thin;
}

.scenes-container::-webkit-scrollbar {
    width: 8px;
}

.scenes-container::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 10px;
}

.scenes-container::-webkit-scrollbar-thumb {
    background-color: var(--accent);
    border-radius: 10px;
}

.scenes-container::-webkit-scrollbar-thumb:hover {
    background-color: #777;
}

.scenes-container>img {
    display: flex;
    width: 100%;
    min-height: 120px;
    border-radius: 8px;
    object-fit: cover;
    cursor: pointer;
    border: 1px solid var(--accent);
}

.selected-scene {
    outline-offset: -1px;
    outline: 1px solid var(--gold);
}

.slider-parent {
    position: relative;
    display: flex;
}

input[type=range] {
    -webkit-appearance: none;
    appearance: none;
    width: 150px;
    height: 8px;
    border-radius: 12px;
    outline: none;
    cursor: pointer;
    /* Transition for smooth sliding effect */
    transition: .2s;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 18px;
    height: 18px;
    background: var(--black);
    border: 2px solid var(--white);
    border-radius: 50%;
    cursor: pointer;
    margin-top: -5px;
}

#track-slider::-webkit-slider-thumb {
    margin-top: -3px;
}

input[type=range]::-moz-range-thumb {
    width: 18px;
    height: 18px;
    background: var(--black);
    border: 2px solid var(--white);
    border-radius: 50%;
    cursor: pointer;
}

input[type=range]::-ms-thumb {
    width: 18px;
    height: 18px;
    background: var(--white);
    border-radius: 50%;
    cursor: pointer;
}

input[type=range]::-webkit-slider-runnable-track {
    background: var(--white);
    height: 8px;
    border-radius: 12px;
    margin: 1px;
}

input[type=range]::-moz-range-progress {
    background: var(--white);
    height: 8px;
    border-radius: 12px;
    margin: 1px;
}

.inactive-icon {
    opacity: 0.6;
}

.icon-holder {
    display: flex;
    align-items: center;
    width: 150px;
}

.icon-holder>div {
    font-size: 12px;
    height: 20px;
}

.mood-container {
    width: 200px;
    height: 100px;
    margin-top: 270px;
    border-radius: 8px;
    display: grid;
    text-align: center;
    grid-template-columns: repeat(3, 33.3334%);
    grid-template-rows: repeat(2, 50%);
    cursor: pointer;
    user-select: none;
}

.mood-container>div:hover {
    opacity: 0.7
}

.mood-container>div>img {
    height: 22px;
}

.mood-container>div>div {
    font-size: 12px;
}

.selected-mood {
    color: var(--selected);
}