:root {
    --white: #d1d8e0;
    --black: #32393d;
    --accent: rgba(209, 216, 224, 0.5);
    --gold: #f9ca24;
    --selected: #ffb142;
    color: #d1d8e0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body,
html {
    margin: 0;
}

i {
    user-select: none;
    color: var(--white);
    cursor: pointer;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.column {
    flex-direction: column;
}

.background {
    background-position: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
}

.background>div {
    display: flex;
    flex: 1;
}

.background>div:first-child {
    justify-content: space-between;
    align-items: flex-start;
}

.frosty {
    background: rgba(47, 42, 42, 0.57);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.9px);
    -webkit-backdrop-filter: blur(7.9px);
    border: 1px solid rgba(47, 42, 42, 0.24);
}

.bar {
    display: flex;
    align-items: center;
}

.fullscreen-icon {
    color: var(--white);
    text-shadow: 3px 3px 20px white;
    font-size: 36px;
    margin: 16px;
}

.hidden {
    display: none;
}

.left{
    align-items: flex-start;
}

.music-by {
    position: absolute;
    bottom: 24px;
    left: 24px;
    font-family: 'gotu', 'seoge Ui';
    font-size: 20px;
    user-select: none;
}

.music-by>p{
    opacity: 0.82;
    margin: 0;
}

.music-source{
    font-size: 48px;
}

.tooltip {
    position: relative;
    user-select: none;
    padding: 4px 8px;
    border-radius: 8px;
    margin-left: 12px;
}